<header class="site-header">
  <div class="container header-inner">
    <div class="branding">
      <a class="site-title" href="index.html" data-link="index.html">Matilde Batalha</a>
      <p class="site-tagline">Psicologia Clínica · Psicoterapia · Terapia Familiar e de Casal</p>
    </div>
    <div class="language-switcher" aria-label="Selecionar idioma">
      <a class="language-option language-option-pt" href="#" lang="pt">🇵🇹 PT</a>
      <a class="language-option language-option-en" href="#" lang="en">🇬🇧 EN</a>
    </div>
    <nav class="site-nav" aria-label="Navegação principal">
      <ul class="menu">
        <li class="menu-item"><a data-link="index.html">Início</a></li>
        <li class="menu-item"><a data-link="index.html#main-content">Artigos</a></li>
        <li class="menu-item has-children">
          <button class="menu-toggle" type="button" aria-expanded="false">Sobre mim</button>
          <ul class="sub-menu">
            <li><a data-link="menu/contactos.html">Contactos</a></li>
            <li><a data-link="menu/curriculum-vitae.html">Curriculum vitae</a></li>
            <li><a data-link="menu/queres-trabalhar-comigo.html">Vem trabalhar comigo!</a></li>
            <li><a data-link="menu/honorarios.html">Honorários</a></li>
          </ul>
        </li>
        <li class="menu-item has-children">
          <button class="menu-toggle" type="button" aria-expanded="false">Abordagens</button>
          <ul class="sub-menu">
            <li><a data-link="menu/emdr.html">EMDR</a></li>
            <li><a data-link="menu/hipnoterapia-clinica.html">Hipnoterapia Clínica</a></li>
            <li><a data-link="menu/sistemas-familiares-internos.html">IFS – Sistemas Familiares Internos</a></li>
            <li><a data-link="menu/psicogeneologia.html">Psicogeneologia &amp; Terapia Transgeracional</a></li>
            <li><a data-link="menu/psicologia-clinica.html">Psicologia Clínica</a></li>
            <li><a data-link="menu/supervisao-clinica.html">Supervisão Clínica</a></li>
            <li><a data-link="menu/terapia-familiar-e-de-casal.html">Terapia Familiar &amp; de Casal</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
